body {
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  background-size: 150%;
}

h1 {
  font-family: "Dancing Script";
  text-align: center;
  margin-top: 20px;
}

.city-all {
  display: inline;
  text-align: center;
  margin: 5px;
}
.main-submit {
  display: inline;
  position: relative;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  display: inline;
  position: relative;
  cursor: pointer;
  margin-left: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#city {
  background: #f785a3;
  color: #fff;
  font-size: 75px;
  padding: 2px;
}

.alert-primary {
  text-align: left;
  margin: 0 50px;
}

.card {
  text-align: center;
  color: #1e79cb;
  margin: 10px auto;
}

.weather-details {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.row {
  list-style: none;
  color: #124069;
  padding: 0;
  margin: 0px;
  text-align: center;
}

h5 {
  text-align: right;
  margin: 50px;
  color: #662436;
}
